<h1>Counter: {{ counter }}</h1>
<h1 class="mb-4">Counter: {{ counterSignal() }}</h1>

<button (click)="increaseBy(1)">+1</button>
<button (click)="increaseBy(-1)">-1</button>
<button (click)="resetCounter()">Reset</button>

<div class="container text-center mt-5">

  <h1 class="mb-4">Counter: {{ counterSignal() }}</h1>

  <div class="d-flex justify-content-center gap-3">
    <button 
      class="btn btn-success"
      (click)="increaseBy(1)">
      +1
    </button>

    <button 
      class="btn btn-danger"
      (click)="increaseBy(-1)">
      -1
    </button>

    <button 
      class="btn btn-secondary"
      (click)="resetCounter()">
      Reset
    </button>
  </div>

</div>