<h1>{{ name() }}</h1>
<dl>
    <dt>nombre</dt>
    <dd>{{ name() }}</dd>

    <dt>Edad:</dt>
    <dd>{{ age() }}</dd>

    <dt>Metodo:</dt>
    <dd>{{ heroDescription() }}</dd>

    <td>Capitalizado:></td>
    <!-- <dd>{{ capitalizedName() }}</dd> -->
    <dd>{{ name() | uppercase }}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">Cambiar Heroe
    cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary mx-2">Cambiar Edad
    cambiar edad    

<button (click)="resetForm()" class="btn btn-secondary mx-2">Reset/<button>